html, 
body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: black;
    background-color: white;
    z-index: -1;

    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
    font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 2em;
}

h2 {
    font-family: 'Playfair Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}


header {
    display: flex;
    flex-direction: row;
    padding: 5em;
    justify-content: center;
    

    & .photo {
        background-image: url('img/unnamed\ \(1\).jpg');
        background-size: 120%;
        background-position: -50px -150px;
        min-width: 30em;
        min-height: 30em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        letter-spacing: .2em;
        background-color: rgb(47, 47, 47);
        color: white;
        box-shadow: var(--box-shadow);

        & h1 {
            font-size: 4em;
            text-shadow: var(--box-shadow);
            margin: 10px;
        }
    }
}

.header-image {
    position: absolute;
    background-color: #4a3865;;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
    width: 100%; 
    height: 350px;
    z-index: 0;    
}

.about-me {
    display: flex;
    align-items: center;
    z-index: 1;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0px;
    background-color: white;
    box-shadow: var(--box-shadow);
    line-height: 1.3em;
    font-size: 1.3em;

    & div {
        text-align: right;
        letter-spacing: .5em;
    }

    & h1 {
        margin: 0;
    }

}

main {
    justify-content: center;
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 8em;

    & h1 {
        margin: 1em 0;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    grid-row: auto;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    transition: 300ms ease-in-out;

    & .screenshot {
        background-color: #8d8bcf;
        height: 60%;
        color: white;
        text-align: center;
        min-height: 15em;
    }

    & .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    & .text {
        padding: 0 1em 2em 1em;
    }

    & .actions {
        display: flex;
        gap: 1em;
        font-size: 1.2em;
        align-items: center;

        & img {
            width: 1.2em;
        }
    }
}

.card:hover {
    transform: scale(1.05);
}

footer {
    display: flex;
    background-color: #4a3865;
    color: white;
    margin: 0;
    padding: 3em;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2em;

    & .contact-me {
        display: flex;
        flex-direction: row-reverse;
    }

    & h1 {
        margin:0;
    }

    & img, i {
        filter: invert(100%);
        width: 1em;
    }

    & .devicon-linkedin-plain {
        filter: invert(0%);
    }

    & .footer-icons {
        font-size: 1.5em;
        letter-spacing: .3em;
        line-height: 3em;
    }
}

@media screen and (max-width: 500px) {

    header { 
        display: flex;
        justify-content: center;
    }
    .about-me {
        display: block;
    }
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    }
    .card {
        max-width: 400px;
    }


    .about {
        max-width: 400px;
    }
}


@media screen and (max-width: 1000px) {

    header { 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-me {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    }

    .photo { 
        max-width: 30em;
        max-height: 30em;
    }

    .about {
        max-width: 800px;
    }
}

